.slider{
    margin-top: 130px;
}
.discover{
    margin-top: 100px;
}
.modal-sec{
    height: 300px;
}
.success{
    transition: 0.3s;
}
.success:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.courses-shadow{
    transition: 0.3s;
}
.courses-shadow:hover{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}